* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif;
}



body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
}






.tittle{ 
    color: #000000;
    margin: 30px;
    background-color: rgb(235, 228, 221);
    text-align: center;
} 

.container {
    display: grid;
    place-items: center
}

.button_funcion{
    background-color: transparent;
    border: 1px solid #000;
    color: #000;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
}
.button_funcion:hover {
    background-color: #000;
    color: #fff;
  }

.color1 {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #eee;
    font-size: 13px;
    margin-bottom: 5px;
    cursor: pointer;
}

.textofooter {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;

    position: fixed;
    background-color: rgba(5,7,12,0.90);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
  }


  .product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    grid-gap: 50px;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  
  .product-box {
    background-color: whitesmoke;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
  }
  
  .product-box img {
    width: 100%;
    object-fit: cover;
    height: 300px;
    margin: 0 auto;

  }
  
  .product-box h3 {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: whitesmoke;

  }
  
  .product-box p {
    font-size: 18px;
    margin-bottom: 10px;
    background-color: whitesmoke;

  }

  .product-container1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    grid-gap: 50px;
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  
  .product-box2 {
    background-color: whitesmoke;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
  }
  
  .product-box img2 {
    width: 100%;
    object-fit: cover;
    height: 300px;
    margin: 0 auto;

  }
  
  .product-box2 h3 {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: whitesmoke;

  }
  
  .product-box2 p {
    font-size: 18px;
    margin-bottom: 10px;
    background-color: whitesmoke;

  }

  
  
  form button {

    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: #616467;
    box-shadow: inset 0 0 0 2px #616467;
    background-color: transparent;
    height: 48px;
    }
    form button:hover{
        color: #fff;
        background-color: #616467;
    }
    form label {
      margin-bottom: 2px;
      background-color: whitesmoke;
    }

    form {
      max-width: 500px;
      margin: 0 auto;
      padding: 20px;
      background-color: #f9f9f9;
      border-radius: 5px;
      margin-bottom: 70px;

      display: grid;
      grid-template-columns: 1fr;
      justify-content: center;
    }

    .resultado {
      max-width: 80%;
      margin-top: 20px;
      margin-bottom: 200px; 
      margin: 0 auto 100px;
      padding: 20px;
      background-color: #f9f9f9;
      border-radius: 5px;
      text-align: center;
      font-size: 24px;
      
  
  }
  
  .resultado {
      display: none;
  }

  .boton-agregar {
  display: block;
  margin: 0 auto;
  outline: 0;
  border: none;
  cursor: pointer;
  height: 50px;
  padding: 12px 17px;
  border-radius: 50px;
  background-color: #a541410d;
  color: #161515;
  font-size: 16px;
  font-weight: 500;
  
}
.boton-agregar:hover {
  background-color: #0000001a;
}

.carrito1{
 margin-bottom: 100px;
}

.imgcarrito{
  width: 30px;
  height: 30px;
}

#btn-carrito {
  position: fixed;
  top: 20px;
  right: 20px;
  color: rgb(255, 255, 255);
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#carrito-desplegable {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  z-index: 999;
  transition: right 0.3s ease;
  overflow-y: scroll;
}

#carrito-desplegable h2 {
  margin: 20px;
  background-color: white;
}

#carrito-lista {
  background-color: whitesmoke;
  list-style: none;
  margin: 0;
  padding: 0;
}

#carrito-lista li {
  margin-left: 2px;
  margin-right: 2px;
  background-color: #b6bdc4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.boton-eliminar {

  display: inline-block;
  outline: 0;
  cursor: pointer;
  border-radius: 6px;
  border: 2px solid #ff4742;
  color: #fff;
  background-color: #ff4742;
  padding: 2px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px;
  font-weight: 200;
  font-size: 15px;
  height: 30px;
}
.boton-eliminar:hover{
      background: 0 0;
      color: #ff4742;
  }

.cerrarboton {

  margin: 4px;  
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border-radius: 6px;
  border: 2px solid #ff4742;
  color: #fff;
  background-color: #ff4742;
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px;
  font-weight: 800;
  font-size: 16px;
  height: 42px;
  
}

.cerrarboton:hover{
  background: 0 0;
  color: #ff4742;
}

#btn-finalizar-compra {
  margin: 4px;  
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border-radius: 6px;
  border: 2px solid #ff4742;
  color: #fff;
  background-color: #ff4742;
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px;
  font-weight: 100;
  font-size: 12px;
  height: 55px;
  display: inline-block;
  margin-top: 10px;
  position: absolute;  
  bottom: 10px;  
  left: 50%;  
  transform: translateX(-50%);  
}

#btn-finalizar-compra:hover{
  background: 0 0;
  color: #ff4742;

}

.formFin {
      max-width: 500px;
			margin: 0px auto;
      margin-bottom: 100px;
			background-color: #fff;
			padding: 20px;
			border-radius: 10px;
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.btn-form-finalizar-compra{
  margin: 4px;  
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border-radius: 6px;
  border: 2px solid #ff4742;
  color: #fff;
  background-color: #ff4742;
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px;
  font-weight: 100;
  font-size: 12px;
  height: 55px;
}

.btn-form-finalizar-compra:hover{
  background: 0 0;
  color: #ff4742;

}

.labelclass {
width: 100%;
padding: 10px;
margin-bottom: 20px;
border-radius: 5px;
border: none;
background-color: #f2f2f2;
color: #333;
font-size: 16px;
}