* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif;
    background-color: rgb(207, 207, 206);
}

h1{ 
    color: #000000;
    margin: 30px;
    background-color: rgb(235, 228, 220);
    text-align: center;
} 

.container {
    display: grid;
    place-items: center
}

.button_funcion{
    background-color: transparent;
    border: 1px solid #000;
    color: #000;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
}
.button_funcion:hover {
    background-color: #000;
    color: #fff;
  }

.color1 {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #eee;
    font-size: 13px;
    margin-bottom: 5px;
    cursor: pointer;
}

.textofooter {
    margin-top: 20px;
    text-align: center;
    width: 100%;
    padding: 20px;
    bottom: 0; 
    left: 0; 
    right: 0; 

    position: fixed;
    bottom: 0;
    background-color: rgba(5,7,12,0.90);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
  }